ul{
    list-style: none;
    margin-left: 5px;
}

li{
    border-bottom: solid 1px purple;
    text-align: start;
    padding: 1%;
    width: 100%;
    margin-left: -30px;
    color: rgb(43, 1, 43);
}

p{
    text-align: start;
    margin-left: -30px;
    color: rgb(43, 1, 43);
}

p:hover{
    font-weight: bold;
    cursor: pointer;
}