ul{
    list-style: none;
}

li{
    border-bottom: solid 1px purple;
    text-align: start;
    padding: 1%;
    width: 100%;
    margin-left: -30px;
}

p{
    text-align: start;
    margin-left: -30px;
}

.p1{
    margin-top: 30px;
}

.p1:hover{
    font-weight: bold;
    cursor: pointer;
}