.search-container{
    float: left;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.checkbox{
    float: left;
    color: rgb(43, 1, 43);
}

.input{
    background-color: white;
    width: 70%;

}